/*---FUENTES IMPORTADAS---*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*---CONFIGURACION GENERAL---*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: visible;
  overflow-y: hidden;
}

body {
  background-color: white;
  font-family: 'Cinzel', serif;
}

img {
  height: 2em;
  width: auto;
}

header {
  position: sticky;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: green;
  width: 100%;
  height: 10vh;
}

header .contenedor {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header .contenedor .menu {
  display: flex;
  flex-direction: row;
}

header .contenedor .menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header .contenedor .menu ul img {
  margin: 15px;
}

header .icon_menu, .logo, .menu ul p {
  display: none;
}

#hero {}

#soy {}

#experiencia {}

#academico {}

#portafolio {}

#contacto {}

footer {
  background-color: white;
}
