/*---FUENTES IMPORTADAS---*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*---CONFIGURACION GENERAL---*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  flex-direction: column;
  font-family: 'Cinzel', serif;
}

video {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  height: 100%;
  width: auto;
}

img {
  height: 2em;
  width: auto;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: green;
  width: 100%;
  height: 10vh;
}

header .contenedor {
  display: flex;
  flex-direction: row;
}
header .contenedor .menu {
  display: flex;
  flex-direction: row;
}
header .contenedor .menu ul{
  display: flex;
  flex-direction: row;
}

header .icon_menu {
  display: none;
}

#hero {}

#soy {}

#experiencia {}

#academico {}

#portafolio {}

#contacto {}

footer {
  background-color: white;
}
