* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1em;
}

@media screen and (orientation: landscape) {
  header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  header .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header .contenedor .menu ul {
    list-style: none;
  }

  header .contenedor .menu ul a {
    text-decoration: none;
  }

  header .contenedor .menu ul img {
    display: none;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  footer .contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (orientation: portrait) {
  header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  header .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header .contenedor .menu ul {
    list-style: none;
  }

  header .contenedor .menu ul a {
    text-decoration: none;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  footer .contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}