/*---FUENTES IMPORTADAS---*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*---CONFIGURACION GENERAL---*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (orientation: landscape) {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1.1vw;
  }

  body {
    color: #e8e8e8;
    background-color: #000a23;
    font-family: 'Cinzel', serif;
  }

  h1 {
    font-size: 5rem;
    font-family: 'Cinzel Decorative', cursive;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  li {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    transition: color 500ms;
  }

  li img {
    display: none;
  }

  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    background-color: #e8e8e8;
    height: 10vh;
    width: 100vw;
  }

  header .contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    max-width: 80%;
  }

  header .contenedor .logo {
    height: 100%;
    padding-right: 100px;
  }

  header .contenedor .icon_menu {
    display: none;
  }

  header .contenedor .menu {
    display: flex;
  }

  header .contenedor .menu ul {
    display: flex;
    flex-direction: row;
  }

  header .contenedor .menu ul li {
    padding: 0 10px;
    list-style: none;
  }

  #hero {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    color: #5D1CCE;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #hero .contenedor {
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #hero .contenedor .frase {
    display: flex;
    justify-content: center;
    align-self: auto;
    background-color: #ffffff;
    margin-top: 50px;
  }

  #hero .selfie {
    position: absolute;
    height: 55%;
    width: auto;
    right: 50px;
    bottom: 0px;
  }

  #soy {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 40vh;
    width: 100vw;
  }

  #soy .contenedor {
    max-width: 50vw;
  }

  #soy .contenedor p {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  #soy .img_soy {
    display: flex;
    width: auto;
    height: 50%;
    margin: 25px;
  }

  #experiencia {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
  }

  #experiencia .img_exp {
    display: flex;
    align-items: center;
    width: auto;
    height: 40%;
    margin: 30px;
  }

  #experiencia .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #experiencia .contenedor ul {
    display: flex;
    flex-direction: column;
  }

  #experiencia .contenedor ul li {
    margin-left: 15px;
  }

  #experiencia .contenedor ul p {
    display: flex;
    margin-left: 25px;
  }

  #academico {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: row-reverse;
    height: 60vh;
    width: 100vw;
  }

  #academico .img_acad {
    display: flex;
    align-items: center;
    width: 15%;
    height: auto;
    margin: 10px;
  }

  #academico .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #academico .contenedor ul {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  #academico .contenedor ul li {
    margin-left: 15px;
  }

  #academico .contenedor ul p {
    display: flex;
    margin-left: 25px;
  }

  #portafolio {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
  }

  #portafolio a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }

  #contacto {
    background-image: url("Media/background.png");
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
  }

  #contacto .contenedor {
    display: flex;
    flex-direction: column;
  }

  #contacto .contenedor h3 {
    margin-bottom: 25px;
  }

  #contacto .contenedor ul div {
    margin-bottom: 25px;
  }

  #contacto .contenedor ul div a {
    font-size: 1.5rem;
    margin: 0px 10px;
  }

  footer {
    background-color: #e6e6e6;
    color: #8c8c8c;
    width: 100%;
  }

  footer .contenedor {
    padding: 15px;
    height: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  }

  .button {
    margin: .25rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background: #111111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
  }

  .button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
  }

  .button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111;
    left: 0;
    top: 0;
    border-radius: 25px;
  }

  .button:active {
    color: #000000;
  }

  .button:active:after {
    background: transparent;
  }

  .button:hover:before {
    opacity: 1;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }
}

@media screen and (orientation: portrait) {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 2.25vh;
  }

  body {
    color: #e8e8e8;
    background-color: #000a23;
    font-family: 'Cinzel', serif;
  }

  .button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px;
  }

  .button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  .button:active {
    color: #000
  }

  .button:active:after {
    background: transparent;
  }

  .button:hover:before {
    opacity: 1;
  }

  .button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  header {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    background-color: #e8e8e8;
    width: 100%;
    height: 10vh;
  }

  header .contenedor {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  header .contenedor .menu {
    display: flex;
    flex-direction: row;
  }

  header .contenedor .menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  header .contenedor .menu ul img {
    margin: 0.5rem;
    height: 2.5rem;
    width: auto;
  }

  header .icon_menu, .logo, .menu ul p {
    display: none;
    height: 0;
    width: 0;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #hero .selfie {
    height: 50vh;
    width: auto;
    right: 0;
    bottom: 0;
  }

  #soy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 25px;
  }

  #soy img {
    height: 5rem;
    width: auto;
  }

  #experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 25px;
  }

  #experiencia img {
    height: 5rem;
    width: auto;
  }

  #academico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 25px;
  }

  #academico img {
    height: 5rem;
    width: auto;
  }

  #portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 25px;
  }

  #portafolio a {
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }

  #contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #contacto .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contacto .contenedor ul a {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    text-decoration: none;
  }

  #contacto .contenedor img {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: auto;
    margin: 25px;
  }

  footer {
    background-color: #ffffff;
    bottom: -150px;
  }
}
